<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %>

        <div class="about content">
     <h2>About  Us</h2>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deleniti illum quam doloribus rerum praesentium, beatae magni cupiditate? Rem ex earum nisi nam quod asperiores harum inventore incidunt cum.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deleniti illum quam doloribus rerum praesentium, beatae magni cupiditate? Rem ex earum nisi nam quod asperiores harum inventore incidunt cum.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deleniti illum quam doloribus rerum praesentium, beatae magni cupiditate? Rem ex earum nisi nam quod asperiores harum inventore incidunt cum.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deleniti illum quam doloribus rerum praesentium, beatae magni cupiditate? Rem ex earum nisi nam quod asperiores harum inventore incidunt cum.</p>

     </div>
    
     <%- include('./partials/footer.ejs') %> 
</body>
</html>